<a href="#" data-slot="<%= ornament.slot %>" class="ratio ornament" data-ratio="1" data-modal-id="ornament_details" data-id="<%= ornament.id %>" style="left:<%= ornament.left %>%; top:<%= ornament.top %>%;">
	<%= image_tag ornament.pattern_image_path(size), class: "pattern" %>
	<%= image_tag ornament.sticker_image_path(size), class: "sticker" %>
</a>