<% content_for :head do %>
  <script type="text/javascript">
  	window.autoOpenOrnamentId = <%= @ornament ? @ornament.id : 0 %>;
  </script>
<% end %>

<div id="wrapper">
	<div id="tree">
			<% if @invite %>
			<h1><b>Happy Holidays</b> <span class="fittextHeight"><%= @invite.name %>!</span></h1>
			<% else %>
			<h1><b>Happy Holidays!</b></h1>
			<% end %>			
			<div id="ornaments">
				<% @layout.each_with_index do |row, index| %>
				<div class="ratio bounds_<%= index+1 %>" data-ratio="<%= row[:ratio] %>">
					<% row[:ornaments].each do |ornament| %>
					<% if ornament %>
					<%= render partial: 'ornament', locals: { ornament: ornament, size: Ornament::SIZE_LARGE } %>
					<% end %>
					<% end %>
				</div>
				<% end %>
			</div>
	</div>
	<div id="cta" class="ratio" data-ratio="1.84">
		<a id="cta_decorate" href="#" data-modal-id="ornament_creator">Decorate Your Ornament</a>
		<span class="cta-ornament"></span>
	</div>
	<h5 id="logo">Moby</h5>
	<div id="bkgrd_snow"></div>
	<div id="bkgrd_watercolor"></div>
	<div id="bkgrd_stars"></div>
</div>

<div id="nice-overlay" class="modal-overlay" style="display:none;">

	<div id="ornament_creator" class="modal wide" style="display:none;">
		<h2>Welcome to the Decoration Workshop</h2>
		<div class="modal_bkgrd">
			<div class="content">
					<div id="ornament_chooser">
						<a href="#" class="shape_left">
							<%= image_tag "decorate/shape_ball.png", alt: ""%>
						</a>
						<a href="#" class="prev">Prev</a>
						<div class="ornament_detail">
							<%= image_tag "ornaments/drop/large/sticker_1.png", size: "310x310", class: "sticker"%>
							<%= image_tag "ornaments/drop/large/pattern_1.png", size: "310x310", class: "pattern"%>
						</div>
						<a href="#" class="next">Next</a>
						<a href="#" class="shape_right">
							<%= image_tag "decorate/shape_whale.png", alt: ""%>
						</a>
					</div>
					<div id="ornament_decorator">
						<div id="choose_patterns">
							<h3><a href="#patterns">Colors and Patterns</a></h3>
							<ul>
								<li><a href="#"><%= image_tag "decorate/pattern_1.png", alt: "white"%></a></li>
								<li><a href="#"><%= image_tag "decorate/pattern_2.png", alt: "blue"%></a></li>
								<li><a href="#"><%= image_tag "decorate/pattern_3.png", alt: "yellow"%></a></li>
								<li><a href="#"><%= image_tag "decorate/pattern_4.png", alt: "red"%></a></li>
								<li><a href="#"><%= image_tag "decorate/pattern_5.png", alt: "sweater"%></a></li>
								<li><a href="#"><%= image_tag "decorate/pattern_6.png", alt: "snowflakes"%></a></li>
								<li><a href="#"><%= image_tag "decorate/pattern_7.png", alt: "candycane"%></a></li>
								<li><a href="#"><%= image_tag "decorate/pattern_8.png", alt: "stars"%></a></li>
								<li><a href="#"><%= image_tag "decorate/pattern_9.png", alt: "crate_and_barrel"%></a></li>
								<li><a href="#"><%= image_tag "decorate/pattern_10.png", alt: "cookies!"%></a></li>
								<li><a href="#"><%= image_tag "decorate/pattern_11.png", alt: "santa"%></a></li>
								<li><a href="#"><%= image_tag "decorate/pattern_12.png", alt: "tartan"%></a></li>
							</ul>
						</div>
						<div id="choose_stickers">
							<h3><a href="#stickers">Decorations</a></h3>
							<ul>
								<li><a href="#"><%= image_tag "decorate/sticker_1.png", alt: ""%></a></li>
								<li><a href="#"><%= image_tag "decorate/sticker_2.png", alt: ""%></a></li>
								<li><a href="#"><%= image_tag "decorate/sticker_3.png", alt: ""%></a></li>
								<li><a href="#"><%= image_tag "decorate/sticker_4.png", alt: ""%></a></li>
								<li><a href="#"><%= image_tag "decorate/sticker_5.png", alt: ""%></a></li>
								<li><a href="#"><%= image_tag "decorate/sticker_6.png", alt: ""%></a></li>
								<li><a href="#"><%= image_tag "decorate/sticker_7.png", alt: ""%></a></li>
								<li><a href="#"><%= image_tag "decorate/sticker_8.png", alt: ""%></a></li>
								<li><a href="#"><%= image_tag "decorate/sticker_9.png", alt: ""%></a></li>
								<li><a href="#"><%= image_tag "decorate/sticker_10.png", alt: ""%></a></li>
								<li><a href="#"><%= image_tag "decorate/sticker_11.png", alt: ""%></a></li>
								<li><a href="#"><%= image_tag "decorate/sticker_12.png", alt: ""%></a></li>
							</ul>
						</div>
					</div>
					<div class="cta">
						<a href="#" class="btn_hang"><span>Hang Your Ornament &raquo;</span></a>
					</div>
			</div>
		</div>
		<a href="#" class="btn_close">Close</a>
		<div class="ribbons"></div>
	</div>

	<div id="ornament_thanks" class="modal skinny" style="display:none;">
		<h2>Thanks!</h2>
		<div class="modal_bkgrd">
			<div class="content">
					<div class="ornament_detail">
						<%= image_tag "ornaments/drop/large/sticker_1.png", size: "310x310", class: "sticker"%>
						<%= image_tag "ornaments/drop/large/pattern_1.png", size: "310x310", class: "pattern"%>
					</div>
					<div class="createdby">
						<h5>Created after <b>42</b> variations</h5>
					</div>
					<h4>Oh, That's Nice</h4>
					<p>Now that you've hung your beautiful ornament on our tree, why not spread a little holiday cheer and invite your friends to see this masterpiece?</p>
					<div class="cta">
						<a href="#" class="btn_share"><span>Spread Cheer on Facebook &raquo;</span></a>
					</div>
			</div>
		</div>
		<a href="#" class="btn_close">Close</a>
		<div class="ribbons"></div>
	</div>
	
	<div id="ornament_details" class="modal skinny" style="display:none;">
		<div class="modal_bkgrd">
			<div class="content">				
			</div>
		</div>
		<a href="#" class="btn_close">Close</a>
	</div>

</div>