<div id="wrapper">
	<div id="tree">
			<% if @invite %>
			<h1><b>Happy Holidays</b> <span class="fittext"><%= @invite.name %>!</span></h1>
			<% else %>
			<h1><b>Happy Holidays!</b></h1>
			<% end %>
			<div id="ornaments">
				<div class="ratio bounds" data-ratio="2.20">
					
				</div>
				<div class="ratio bounds" data-ratio="3.12">
					<div class="ornament" style="left:22%;top:45%;">
						<%= image_tag "ornaments/test.png" %>
					</div>					
				</div>
				<div class="ratio bounds" data-ratio="4.33"></div>
				<div class="ratio bounds" data-ratio="4.33"></div>
				<div class="ratio bounds" data-ratio="5.25"></div>
				<div class="ratio bounds" data-ratio="4.80"></div>
				<div class="ratio bounds" data-ratio="6.90"></div>
				<div class="ratio bounds" data-ratio="8.70"></div>
				<div class="ratio bounds" data-ratio="8.70"></div>
			</div>
	</div>
	<div id="cta" class="ratio" data-ratio="1.84">
		<a href="#">Decorate Your Ornament</a>
		<span class="cta-ornament"></span>
	</div>
	<h5 id="logo">Moby</h5>
	<div id="bkgrd_snow"></div>
	<div id="bkgrd_watercolor"></div>
	<div id="bkgrd_stars"></div>
</div>

<div class="modal-overlay">

	<div id="ornament_creator" class="modal wide">
		<h2>Welcome to the Decoration Workshop</h2>
		<div class="modal_bkgrd">
			<div class="content">
					<div id="ornament_chooser">
						<a href="#" class="shape_left">
							<%= image_tag "decorate/shape_ball.png", alt: ""%>
						</a>
						<a href="#" class="prev">Prev</a>
						<div class="ornament_detail">
							<%= image_tag "ornaments/drop/large/sticker_1.png", size: "310x310", class: "sticker"%>
							<%= image_tag "ornaments/drop/large/pattern_1.png", size: "310x310", class: "pattern"%>
						</div>
						<a href="#" class="next">Next</a>
						<a href="#" class="shape_right">
							<%= image_tag "decorate/shape_whale.png", alt: ""%>
						</a>
					</div>
					<div id="ornament_decorator">
						<h3 id="headline_patterns"><a href="#patterns">Colors and Patterns</a></h3>
						<div id="ornament_patterns">
							<ul>
								<li><a href="#"><%= image_tag "decorate/pattern_1.png", size: "50x50", alt: "white"%></a></li>
								<li><a href="#"><%= image_tag "decorate/pattern_2.png", size: "50x50", alt: "blue"%></a></li>
								<li><a href="#"><%= image_tag "decorate/pattern_3.png", size: "50x50", alt: "yellow"%></a></li>
								<li><a href="#"><%= image_tag "decorate/pattern_4.png", size: "50x50", alt: "red"%></a></li>
								<li><a href="#"><%= image_tag "decorate/pattern_5.png", size: "50x50", alt: "sweater"%></a></li>
								<li><a href="#"><%= image_tag "decorate/pattern_6.png", size: "50x50", alt: "snowflakes"%></a></li>
								<li><a href="#"><%= image_tag "decorate/pattern_7.png", size: "50x50", alt: "candycane"%></a></li>
								<li><a href="#"><%= image_tag "decorate/pattern_8.png", size: "50x50", alt: "stars"%></a></li>
								<li><a href="#"><%= image_tag "decorate/pattern_9.png", size: "50x50", alt: "crate_and_barrel"%></a></li>
								<li><a href="#"><%= image_tag "decorate/pattern_10.png", size: "50x50", alt: "cookies!"%></a></li>
								<li><a href="#"><%= image_tag "decorate/pattern_11.png", size: "50x50", alt: "santa"%></a></li>
								<li><a href="#"><%= image_tag "decorate/pattern_12.png", size: "50x50", alt: "tartan"%></a></li>
							</ul>
						</div>
						<h3 d="headline_stickers"><a href="#stickers">Decorations</a></h3>
						<div id="ornament_stickers">
							<ul>
								<li><a href="#"><%= image_tag "decorate/sticker_1.png", size: "50x50", alt: ""%></a></li>
								<li><a href="#"><%= image_tag "decorate/sticker_2.png", size: "50x50", alt: ""%></a></li>
								<li><a href="#"><%= image_tag "decorate/sticker_3.png", size: "50x50", alt: ""%></a></li>
								<li><a href="#"><%= image_tag "decorate/sticker_4.png", size: "50x50", alt: ""%></a></li>
								<li><a href="#"><%= image_tag "decorate/sticker_5.png", size: "50x50", alt: ""%></a></li>
								<li><a href="#"><%= image_tag "decorate/sticker_6.png", size: "50x50", alt: ""%></a></li>
								<li><a href="#"><%= image_tag "decorate/sticker_7.png", size: "50x50", alt: ""%></a></li>
								<li><a href="#"><%= image_tag "decorate/sticker_8.png", size: "50x50", alt: ""%></a></li>
								<li><a href="#"><%= image_tag "decorate/sticker_9.png", size: "50x50", alt: ""%></a></li>
								<li><a href="#"><%= image_tag "decorate/sticker_10.png", size: "50x50", alt: ""%></a></li>
								<li><a href="#"><%= image_tag "decorate/sticker_11.png", size: "50x50", alt: ""%></a></li>
								<li><a href="#"><%= image_tag "decorate/sticker_12.png", size: "50x50", alt: ""%></a></li>
							</ul>
						</div>
					</div>
					<div class="cta">
						<a href="#" class="btn_hang">Hang Your Ornament &raquo;</a>
					</div>
			</div>
		</div>
		<a href="#" class="btn_close">Close</a>
		<div class="ribbons"></div>
	</div>

</div>
	<!-- Decorate Ornament Popup --

	<div id="ornament_creator" style="display:none;">
		<div id="shape_selector">
			<h3>Pick a Shape</h3>
			<ul>
				<li><a href="#" title="Circle" data-shape="circle"><%= image_tag 'http://placehold.it/40x40' %>Circle</a></li>
				<li><a href="#" title="Drop" data-shape="drop"><%= image_tag 'http://placehold.it/40x40' %>Drop</a></li>
				<li><a href="#" title="Whale" data-shape="whale"><%= image_tag 'http://placehold.it/40x40' %>Whale</a></li>
			</ul>
		</div>
		<div id="pattern_selector">
			<h3>Pick a Pattern</h3>
			<ul>
				<li><a href="#" title="Cheese" data-pattern="cheese"><%= image_tag 'http://placehold.it/40x40' %>Cheese</a></li>
				<li><a href="#" title="Cookie" data-pattern="cookie"><%= image_tag 'http://placehold.it/40x40' %>Cookie</a></li>
				<li><a href="#" title="Metal" data-pattern="metal"><%= image_tag 'http://placehold.it/40x40' %>Metal</a></li>
				<li><a href="#" title="Peppermint" data-pattern="peppermint"><%= image_tag 'http://placehold.it/40x40' %>Peppermint</a></li>
			</ul>
		</div>
		<div id="decoration_selector">
			<h3>Pick a Decoration</h3>
			<ul>
				<li><a href="#" title="Bow" data-shape="bow"><%= image_tag 'http://placehold.it/40x40' %>Bow</a></li>
				<li><a href="#" title="Dots" data-shape="dot"><%= image_tag 'http://placehold.it/40x40' %>Dots</a></li>
				<li><a href="#" title="Happy Holidays" data-shape="metal"><%= image_tag 'http://placehold.it/40x40' %>Metal</a></li>
				<li><a href="#" title="Peppermint" data-shape="peppermint"><%= image_tag 'http://placehold.it/40x40' %>Peppermint</a></li>
			</ul>
		</div>
	</div>
	
	-->