<div id="wrapper">
	<div id="tree">
			<% if @invite %>
			<h1><b>Happy Holidays</b> <span class="fittext"><%= @invite.name %>!</span></h1>
			<% else %>
			<h1><b>Happy Holidays!</b></h1>
			<% end %>
			<div id="ornaments">
				<div class="ratio bounds" data-ratio="2.20">
					<div class="ornament" style="left:42%;top:3%;">
						<%= image_tag "ornaments/test.png" %>
					</div>
					<div class="ornament" style="left:48%;top:3%;">
						<%= image_tag "ornaments/test.png" %>
					</div>
				</div>
				<div class="ratio bounds" data-ratio="3.12"></div>
				<div class="ratio bounds" data-ratio="4.33"></div>
				<div class="ratio bounds" data-ratio="4.33"></div>
				<div class="ratio bounds" data-ratio="5.25"></div>
				<div class="ratio bounds" data-ratio="4.80"></div>
				<div class="ratio bounds" data-ratio="6.90"></div>
				<div class="ratio bounds" data-ratio="8.70"></div>
				<div class="ratio bounds" data-ratio="8.70"></div>
			</div>
	</div>
	<div id="cta" class="ratio" data-ratio="1.84">
		<a href="#">Decorate Your Ornament</a>
		<span class="cta-ornament"></span>
	</div>
	<h5 id="logo">Moby</h5>
	<div id="bkgrd_snow"></div>
	<div id="bkgrd_watercolor"></div>
	<div id="bkgrd_stars"></div>
</div>

	<!-- Decorate Ornament Popup --

	<div id="ornament_creator" style="display:none;">
		<div id="shape_selector">
			<h3>Pick a Shape</h3>
			<ul>
				<li><a href="#" title="Circle" data-shape="circle"><%= image_tag 'http://placehold.it/40x40' %>Circle</a></li>
				<li><a href="#" title="Drop" data-shape="drop"><%= image_tag 'http://placehold.it/40x40' %>Drop</a></li>
				<li><a href="#" title="Whale" data-shape="whale"><%= image_tag 'http://placehold.it/40x40' %>Whale</a></li>
			</ul>
		</div>
		<div id="pattern_selector">
			<h3>Pick a Pattern</h3>
			<ul>
				<li><a href="#" title="Cheese" data-pattern="cheese"><%= image_tag 'http://placehold.it/40x40' %>Cheese</a></li>
				<li><a href="#" title="Cookie" data-pattern="cookie"><%= image_tag 'http://placehold.it/40x40' %>Cookie</a></li>
				<li><a href="#" title="Metal" data-pattern="metal"><%= image_tag 'http://placehold.it/40x40' %>Metal</a></li>
				<li><a href="#" title="Peppermint" data-pattern="peppermint"><%= image_tag 'http://placehold.it/40x40' %>Peppermint</a></li>
			</ul>
		</div>
		<div id="decoration_selector">
			<h3>Pick a Decoration</h3>
			<ul>
				<li><a href="#" title="Bow" data-shape="bow"><%= image_tag 'http://placehold.it/40x40' %>Bow</a></li>
				<li><a href="#" title="Dots" data-shape="dot"><%= image_tag 'http://placehold.it/40x40' %>Dots</a></li>
				<li><a href="#" title="Happy Holidays" data-shape="metal"><%= image_tag 'http://placehold.it/40x40' %>Metal</a></li>
				<li><a href="#" title="Peppermint" data-shape="peppermint"><%= image_tag 'http://placehold.it/40x40' %>Peppermint</a></li>
			</ul>
		</div>
	</div>
	
	-->