<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>Happy Holidays!</title>
  
  <!-- Latest version of IE & Please no horrible blocking out of links on surface -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="msapplication-tap-highlight" content="no" />

	<!-- The following assumes a non-scalable (responsive), app style, site on mobile/tablet -->
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1">
	
	<!-- favicon.ico is in the root directory and will be picked up automagically -->
	
	<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png" />
		
	<!-- Customize the iOS app Startup Screen -->
	<!-- iPhone - Portrait -->
	<link rel="apple-touch-startup-image" href="/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)">
	<link rel="apple-touch-startup-image" href="/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)">
	
	<!-- iPad - Portrait -->
	<link rel="apple-touch-startup-image" href="/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)">
	<link rel="apple-touch-startup-image" href="/apple-touch-startup-image-1536x2008.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)">

	<!-- iPad - Landscape -->
	<link rel="apple-touch-startup-image" href="/apple-touch-startup-image-748x1024.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)">
	<link rel="apple-touch-startup-image" href="/apple-touch-startup-image-1496x2048.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)">
    
  <!-- If this is less than IE8 we serve up some HTML5 goodness, limit their styling to a fixed size, and allow for old-ie styling overrides. -->
  <!--[if lt IE 9]>
		<%= stylesheet_link_tag "ie", media: "all" %>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--[if gt IE 8]><!-->
		<%= stylesheet_link_tag "main", media: "all" %>
	<!--<![endif]-->
  
  <%= javascript_include_tag "main" %>
  
  <!-- Navigate Within the Web App -->
	<script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>	
  
  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>
<body>
<div id="fb-root"></div>

<%= yield %>

</body>
</html>
